<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>THIRD</title>
    <link rel="stylesheet" href='{% static "dashboard.css" %}'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="navlist">
        <a href="/">Home</a>


        <div class="login">
            <a href="/login/">Login</a>
        </div>
        <div class="search">
            <a href="/search/">Search</a>
        </div>
        {% if searched %}
        {% for p in post %}
        <iframe title="Report Section" width="1500" height="773.5" src="{{ p.link }}" frameborder="0" allowFullScreen="true"></iframe>
        {% endfor %}
        {% endif %}
    </div>

</body>


</html>