<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>THIRD</title>
    <link rel="stylesheet" href='{% static "dashboard.css" %}'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="navlist">
        <a href="/">Home</a>


        <div class="login">
            <a href="/login/">Login</a>
        </div>
        <a href="/search/">Search</a>

        <iframe title="Report Section" width="1500" height="773.5" src="https://app.powerbi.com/view?r=eyJrIjoiYjJmNzU4NWQtNDQ0Ni00MmZlLTgzMTctNmE0NWZjOGUyNWNiIiwidCI6IjhhZDE4ZGEwLWQ5YjUtNGFmYy04ZGM3LTBmMTY5MzgxOWFjMiJ9" frameborder="0" allowFullScreen="true"></iframe>

    </div>

</body>


</html>