<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>SECOND</title>
    <link rel="stylesheet" href='{% static "search.css" %}'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

</head>
<body>

    <div id="navlist">
        <a href="/">Home</a>


        <div class="login">
            <a href="/login/">Login</a>
        </div>
        <div class="search">
            <a href="/search/">Search</a>
        </div>




        <div class="container" >
        <h1 class="Name" align="center">HIV</h1>
        </div>
        <div class="container">
            <p class="para" align="center">
                Human immunodeficiency virus (HIV) is an infection that attacks the body’s immune system. Acquired immunodeficiency syndrome (AIDS) is the most advanced stage of the disease.

HIV targets the body’s white blood cells, weakening the immune system. This makes it easier to get sick with diseases like tuberculosis, infections and some cancers.

HIV is spread from the body fluids of an infected person, including blood, breast milk, semen and vaginal fluids. It is not spread by kisses, hugs or sharing food. It can also spread from a mother to her baby.

HIV can be treated and prevented with antiretroviral therapy (ART). Untreated HIV can progress to AIDS, often after many years.

WHO now defines Advanced HIV Disease (AHD) as CD4 cell count less than 200cells/mm3 or WHO stage 3 or 4 in adults and adolescents. All children with HIV younger than 5 years of age are considered to have advanced HIV disease.
            </p>


          </div>

    </div>
    <!--<ul>
        {% for i in post %}
        <p>{{i.disease_Name}}</p>
        {% endfor %}
    </ul>-->


    <div class="dashboard-button" name="dashboard">
        <a href="/dash4/">Dashboard</a>
    </div>

</body>
</html>