<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>SECOND</title>
    <link rel="stylesheet" href='{% static "search.css" %}'>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

    <div id="navlist">
        <a href="/">Home</a>


        <div class="login">
            <a href="/login/">Login</a>
        </div>
        <div class="search">

            <form method=POST action="{% url 'search' %}" name="search" id="search">
                {% csrf_token %}
                <input type="text" placeholder="Search disease" name="searched" id="searchInput"
                    onfocus="showRecentSearches()" onblur="hideRecentSearches()">
                <button class="btn
                btn-outline-search" type="submit">
                    <i class="fa fa-search" style="font-size: 18px;"></i>
                </button>
            </form>
        {% if searched %}
        {% for p in post %}

        </div>
        <div class="container" style="font-size: 20px">
        <h1 class="Name" align="center">{{p.Disease_Name}}</h1>
        </div>
        <div class="container">
            <p class="para" align="center" style="font-size: 20px">{{p.content}}</p>
        </div>

        <div class="container" style="width: 45%;float: left;font-size: 20px">
            <h2 class="symptom">SYMPTOMS</h2>
            <p>{{p.symptoms}}
                </p>
        </div>
        <div class="c2" style="width: 45%;float: right;font-size:20px">
            <h2 class="precaution">PRECAUTIONS</h2>
            <p>{{p.precautions}}</p>
        </div>



    </div>

    <div class="dashboard-button" style="border-radius: 20px;font-size: 20px">
        {% block content %}
        <a href="/{{ p.dashboardName }}/">Dashboard</a>
        {% endblock %}
    </div>
    {% endfor %}
    {% endif %}

<script>
    const form=document.getElementById('form');
    const search=document.getElementById('searchInput');

    form.addEventListener('submit',function(e) {
    e.preventDefault();
    const searchValue=searchInput.value;
    localStorage.setItem('search-value',searchValue);
    window.location.href='dashboard.html';
    })cd ./Diseases
</script>
</body>
</html>