<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,
                         initial-scale=1.0">
    <title>DISEASE INFO</title>
    <link rel="stylesheet"
          href="{% static 'signup.css' %}">
</head>

<body>
    <header>
        <h1 class="heading">DISEASE INFO</h1>
        <h3 class="title"> Signin</h3>
    </header>


    <div class="container">

        <!-- upper button section to select
             the login or signup form -->
       <!--<div class="slider"></div>-->
             <div class="btn">
                <button class="Signin">Signin</button>

             </div>

        <!-- Form section that contains the
             login and the signup form -->
                <form class="form-section" method="POST">
                {% csrf_token %}


            <!-- login form -->
                <div class="Signin-box">
                    <div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							{{form.username}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
							</div>
                            {{form.email}}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							{{form.password}}
						</div>
                        <div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							{{form.confirm_password}}
						</div>


                   <button class="clkbtn">Signin</button>
                </div>



                </form>
               </div>
             {{form.errors}}

<script>
    var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Username';
		form_fields[1].style='font-size: large;border-radius: 2rem;border: 2px solid #000;padding: 10px';
		form_fields[2].placeholder='Email';
		form_fields[2].style='font-size: large;border-radius: 2rem;border: 2px solid #000;padding: 10px';
		form_fields[3].placeholder='Enter password';
		form_fields[3].style='font-size: large;border-radius: 2rem;border: 2px solid #000;padding: 10px';
        form_fields[4].placeholder='Confirm password';
        form_fields[4].style='font-size: large;border-radius: 2rem;border: 2px solid #000;padding: 10px';
		for (var field in form_fields){
			form_fields[field].className += ' form-control'
		}
</script>
</body>
</html>