<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>THIRD</title>
    <link rel="stylesheet" href='{% static "dashboard.css" %}'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="navlist">
        <a href="/">Home</a>


        <div class="login">
            <a href="/login/">Login</a>
        </div>
        <div class="search">

            <form method=POST action="{% url 'search' %}" name="search" id="search">
                {% csrf_token %}
                <input type="text" placeholder="Search disease" name="searched" id="searchInput"
                    onfocus="showRecentSearches()" onblur="hideRecentSearches()">
                <button class="btn
                btn-outline-search" type="submit">
                    <i class="fa fa-search" style="font-size: 18px;"></i>
                </button>
            </form>

        </div>
        <iframe title="Report Section" width="1500" height="773.5" src="https://app.powerbi.com/view?r=eyJrIjoiMmFjNDY5YTItMzZhMy00Nzk1LTkwOTEtOTU2OWM5M2FmMGRlIiwidCI6IjhhZDE4ZGEwLWQ5YjUtNGFmYy04ZGM3LTBmMTY5MzgxOWFjMiJ9" frameborder="0" allowFullScreen="true"></iframe>

    </div>


</body>

<script src=></script>

</html>