<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,
                         initial-scale=1.0">
    <title>DISEASE INFO</title>
    <link rel="stylesheet"
          href="{% static 'login.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'heartbeat2.png' %}">
</head>

<body style="background-color:#f3f6f9">
    <header>
        <h1 class="heading" style="color: black">DISEASE INFO</h1>
        <h3 class="title"> Login</h3>
    </header>

    <!-- container div -->
    <div class="container">

        <div class="btn">
            <button class="login" style="height: 60px;
    width: 300px;
    margin: 20px auto;
    box-shadow: 10px 10px 30px #00ABE4;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;font-size: 22px;">Login</button>

        </div>
        <p>{{ message }}</p>

        <!-- Form section that contains the
             login and the signup form -->
        <form class="form-section" method="POST" name="form">
            {% csrf_token %}


            <!-- login form -->
            <div class="login-box">
                <div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="username" placeholder="Username" class="form-control" style='font-size: large;border-radius: 2rem;border: 2px solid #000;padding: 10px'>
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
								<input type="password" name="password" placeholder="Password" class="form-control" style='font-size: large;border-radius: 2rem;border: 2px solid #000;padding: 10px'>
						</div>
                <button class="clkbtn" style="height: 60px;
    width: 150px;
    border-radius: 50px;
    background-image: linear-gradient(to right,
            #00ABE4,
            #00ABE4);
    font-size: 22px;
    border: none;
    cursor: pointer;">Login</button>
                {% for message in messages %}
                <p id="messages">{{message}}</p>
                {% endfor %}
                    <p>Don't have an account?<a href="/signup/">Signup</a></p>


            </div>



         </form>

    </div>
<script src="{% static 'login.js' %}"></script>
</body>
</html>