<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>Home</title>
    <link rel="stylesheet" href='{% static "home.css" %}'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <!-- Navbar items -->
    <div id="navlist">
        <a href="#">Home</a>


        <div class="login">
            <a href="login/">Login</a>
        </div>
        <!-- search bar right align -->
        <div class="search">
            <a href="search/">Search</a>
        </div>

            <!--<form action="{% url 'search' %}">
                {% csrf_token %}
                <input type="text" placeholder="Search disease" name="searched" id="searchInput"
                    onfocus="showRecentSearches()" onblur="hideRecentSearches()">
                <button class="btn
                btn-outline-search" type="submit">
                    <i class="fa fa-search" style="font-size: 18px;"></i>
                </button>
            </form>-->

    </div>
       <!-- logo with tag -->
    <div class="content">
        <h1>
            INFECTIOUS DISEASES
        </h1>


        <p>
            Infectious diseases are disorders caused by organisms — such as bacteria, viruses, fungi or parasites. Many organisms live in and on our bodies. They're normally harmless or even helpful. But under certain conditions, some organisms may cause disease.
        </p>
    </div>


    <div class="shop-section">
        <div class="box1 box">
            <div class="box-content">
                <h2>COVID-19</h2>
                <div class="box-img" style="background-image: url('static/corona.jpeg');"></div>
                <a href="search1/">Know More</a>
            </div>
        </div>
        <div class="box1 box">
            <div class="box-content">
                <h2>HIV</h2>
                <div class="box-img" style="background-image: url('static/hiv.jpeg');"></div>
                <a href="search2/">Know More</a>

            </div>
        </div>
        <div class="box1 box">
            <div class="box-content">
                <h2>Diabetes</h2>
                <div class="box-img" style="background-image: url('static/diabetes.jpeg');"></div>
                <a href="search3/">Know More</a>

            </div>
        </div>
        <div class="box1 box">
            <div class="box-content">
                <h2>Asthma</h2>
                <div class="box-img" style="background-image: url('static/asthma.jpg');"></div>
                <a href="#">Know More</a>

            </div>
        </div>
        {% if searched %}
        {% for p in post %}

        </div>
        <div class="container" >
        <h1 class="Name" align="center">{{p.Disease_Name}}</h1>
        </div>
        <div class="container">
            <p class="para" align="center">{{p.content}}</p>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</body>
</html>
