<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>SECOND</title>
    <link rel="stylesheet" href='{% static "search.css" %}'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector: '#mytextarea'
        plugins: [
      'advlist autolink link image lists charmap print preview hr anchor pagebreak',
      'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
      'table emoticons template paste help'
    ],
    toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
      'bullist numlist outdent indent | link image | print preview media fullpage | ' +
      'forecolor backcolor emoticons | help',
    menu: {
      favs: {title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons'}
    },
    menubar: 'favs file edit view insert format tools table help',
    content_css: 'css/content.css'
     });
    </script>
</head>
<body>

    <div id="navlist">
        <a href="/">Home</a>


        <div class="login">
            <a href="/login/">Login</a>
        </div>
        <div class="search">

            <form method=POST action="{% url 'search' %}" name="search" id="search">
                {% csrf_token %}
                <input type="text" placeholder="Search disease" name="searched" id="searchInput"
                    onfocus="showRecentSearches()" onblur="hideRecentSearches()">
                <button class="btn
                btn-outline-search" type="submit">
                    <i class="fa fa-search" style="font-size: 18px;"></i>
                </button>
            </form>
        {% if searched %}
        {% for p in post %}

        </div>
        <div class="container" >
        <h1 class="Name" align="center">{{p.Disease_Name}}</h1>
        </div>
        <div class="container">
            <p class="para" align="center">{{p.content}}</p>
        </div>



    </div>
    <!--<ul>
        {% for i in post %}
        <p>{{i.disease_Name}}</p>
        {% endfor %}
    </ul>-->


    <div class="dashboard-button" name="dashboard">
        <a href="{{p.link}}">Dashboard</a>
    </div>
    {% endfor %}
    {% endif %}

</body>
</html>